*{
    margin: 0%;
    padding: 0%;
}


h1{
    text-align: center;
    color: #f4dd13;


}


.partie4 article{

    display: flex;
    width: 50%;
    flex-grow: 1;
}


.partie4{

    display: flex;
    text-align: justify;
    padding: 3% 2%;
    padding-bottom: 0;
    flex-direction: row;
    height: fit-content;

    
}

.partie4 img{
    margin-left: 30%;
    text-align: right;
    float: right;
    flex-grow: 1;
    height: 85%;

}

.test{

    padding: 3% 2%;
    padding-top: 0%;


}

main{

    background-color: #2F5597 ;
}

.partie4 p{
    width: 95%;
}

.img2{

    width: 40%;
}

body{

    color: white;
}